<!DOCTYPE html>
<html>
<h1>On the index page...</h1>

<ul>
  <%@landmarks.each do |landmark|%>  
  <li><a href="/landmarks/<%= landmark.id%>"><%= landmark.name%> was completed in <%= landmark.year_completed%></a></li>
  <% end %>
</ul>
</html>
